<div class="bg-cream">

  <div class="relative bg-cover">
    <%= image_tag '1447362.png' , class: 'object-cover h-full w-full' %>
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="font_abril text-6xl font-bold text-yellow sm:text-7xl md:text-8xl lg:text-9xl text-outline">Beauty</h1>
        <h1 class="font_abril text-5xl font-bold text-yellow sm:text-6xl md:text-7xl lg:text-8xl text-outline">Buddy</h1>
      </div>
  </div>

  <div class="justify-around  px-4 grid grid-cols-1 md:grid-cols-2 gap-8 px-10 lg:grid-cols-4 gap-8 px-10 pb-10">
    <div class="card bg-base-100 w-full shadow-xl ">
      <figure class="px-5 pt-5">
        <%= image_tag '662b2022f89fbabb625dfc40_014.png', class: 'rounded-xl size-52'%>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">肌に合うコスメを見つけよう</h2>
        <p class="">
          あなたの肌に合わない化粧品を登録すると、どの成分が原因かを診断！「注意」の表示で、安心して自分に合ったコスメを見つけられます！
        </p>
      </div>
    </div>

    <div class="card bg-base-100 w-full shadow-xl">
      <figure class="px-5 pt-5">
        <%= image_tag '662b2353b239b22dec2a7521_054.png', class: 'rounded-xl size-52'%>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">使用履歴をカレンダーで管理</h2>
          <p class="">
            化粧品の使用履歴をカレンダー形式で記録できる機能！毎日のスキンケアを簡単に振り返ることができます
          </p>
      </div>
    </div>

    <div class="card bg-base-100 w-full shadow-xl">
      <figure class="px-5 pt-5">
        <%= image_tag '662b21dd3a6d7d75551a50ad_037.png', class: 'rounded-xl size-52'%>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title"> 手軽な化粧品登録</h2>
          <p class="">
          化粧品の登録はサイトからだけでなくLINEでも可能!手軽に使えるから、いつでもどこでも登録できます
          </p>
      </div>
    </div>

    <div class="card bg-base-100 w-full shadow-xl">
      <figure class="px-5 pt-5">
        <%= image_tag '662b261d1a2d80f0d8a7116a_076.png', class: 'rounded-xl size-52'%>
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">残量通知機能</h2>
          <p class="">
          利用開始時期と1日の使用量を設定することで、残量が少なくなると通知が来ます
          </p>
      </div>
    </div>
  </div>
</div>


