<%= form_with model: mycosmetic do |f| %>
  <div class>
    <%= f.hidden_field :cosmetic_id, value: @cosmetic.id %>
    <div class="input input-bordered flex items-center gap-2 mb-4">
      <%= f.label :usage_situation, "現在の利用状況" %>
      <%= f.select :usage_situation, [['利用している',true],['利用していない',false]] %>
    </div>
    <div class="input input-bordered flex items-center gap-2 mb-4">
      <%= f.label :starting_date, "利用開始日" %>
      <%= f.date_field :starting_date %>
    </div>
    <div class="input input-bordered flex items-center gap-2 mb-4">
      <%= f.label :problem, "利用時の問題" %>
      <%= f.select :problem, [["良い", "good"], ["普通", "normal"], ["悪い", "bad"]] %>
    </div>
    <div class="input input-bordered flex flex-col items-center gap-2 mb-4 size-auto">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo , class: "w-full h-32 resize-y"%>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="btn btn-wide bg-beige btn-outline">
      <%= f.submit nil %>
    </div>
  </div>
<% end %>