<div class="bg-cream p-5 wrap">
  <h1 class="font-gen text-3xl md:text-4xl pt-3"><%= t('.title') %></h1>
  <div class="flex items-center justify-center m-2">
    <!-- 検索フォーム -->
    <%= render 'search', q: @q, url: mycosmetics_path %>
  </div>

  <!-- 化粧品一覧 -->
  <div class="flex-col items-center pt-5">
    <% @mycosmetics.each do |mycosmetic| %>
      <div id="mycosmetic-id-<%= mycosmetic.cosmetic_id %>">
      <div class="card card-side bg-base-100 m-4 mx-9 flex items-center">

        <div class="size-48 p-3">
          <%= image_tag mycosmetic.cosmetic.image, class: "object-contain w-full h-full"%>
        </div>

        <div class="card-body w-[calc(100%_-_192px)]">
          <h2 class="card-title">
            <%= link_to mycosmetic.cosmetic.product_name, cosmetic_path(mycosmetic.cosmetic) %>
          </h2>

          <p>
            <%= link_to mycosmetic.cosmetic.category.name, '#' %>
          </p>

          <p>
            <%= link_to mycosmetic.cosmetic.brand.name, '#' %>
          </p>

          <p>
            <%= t('cosmetics.show.usage_situation') %> <%= t('activerecord.attributes.mycosmetic.usage_situation')[mycosmetic.usage_situation] %>
          </p>

          <p>
            <%= t('cosmetics.show.starting_date') %> <%= mycosmetic.starting_date %>
          </p>

          <p>
            <%= t('cosmetics.show.problem') %> <%= mycosmetic.problem_i18n %>
          </p>

          <p>
            <%= t('cosmetics.show.memo') %> <%= mycosmetic.memo %>
          </p>

          <div class="card-actions justify-end">
            <%= link_to t("mycosmetics.index.edit"), edit_mycosmetic_path(mycosmetic, cosmetic_id: mycosmetic.cosmetic_id), class: "btn bg-beige btn-outline" %>
            <%= link_to t("mycosmetics.index.delete"), mycosmetic_path(mycosmetic), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn bg-beige btn-outline" %>
            <%= render 'cosmetics/favorite_buttons', { cosmetic: mycosmetic.cosmetic } %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="flex justify-center">
    <%= paginate @mycosmetics %>
  </div>
</div>