<div class="bg-cream wrap">
  <h1 class="font-gen text-4xl p-5">マイコスメ一覧</h1>
  <div class="flex items-center justify-center m-2">
    <!-- 検索フォーム -->
    <form>
      <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Search" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      </label>
    </form>
  </div>

  <!-- 化粧品一覧 -->
  <div class="flex-col items-center pt-5">
    <% @mycosmetics.each do |mycosmetic| %>
      <div id="mycosmetic-id-<%= mycosmetic.cosmetic_id %>">
      <div class="card card-side bg-base-100 m-4 flex items-center">
        <div class="size-48 p-3">
          <%= image_tag mycosmetic.cosmetic.image, class: "object-contain w-full h-full"%>
        </div>
        <div class="card-body w-[calc(100%_-_192px)]">
          <h2 class="card-title">
          <%= link_to mycosmetic.cosmetic.product_name, cosmetic_path(mycosmetic.cosmetic) %>
          </h2>
          <p>
            <%= link_to mycosmetic.cosmetic.category.name, '#' %>
          </p>
          <p>
            <%= link_to mycosmetic.cosmetic.brand.name, '#' %>
          </p>
          <p>
            現在利用しているか:  <%= mycosmetic.usage_situation %>
          </p>
          <p>
            利用開始日: <%= mycosmetic.starting_date %>
          </p>
          <p>
            利用時の問題: <%= mycosmetic.problem %>
          </p>
          <p>
            メモ: <%= mycosmetic.memo %>
          </p>
          <div class="card-actions justify-end">
            <%= link_to "編集", edit_mycosmetic_path(mycosmetic, cosmetic_id: mycosmetic.cosmetic_id), class: "btn bg-beige btn-outline" %>
            <%= link_to "削除", mycosmetic_path(mycosmetic), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn bg-beige btn-outline" %>
            <%= render 'cosmetics/favorite_buttons', { cosmetic: mycosmetic.cosmetic } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>