<div class="bg-cream p-5 wrap">
  <h1 class="font-gen text-3xl md:text-4xl pt-3"><%= t('.title') %></h1>
  <div class="flex items-center justify-center m-2">
    <!-- 検索フォーム -->
    <%= render 'search', q: @q, url: mycosmetics_path %>
  </div>

  <!-- 化粧品一覧 -->
  <div class="flex-col items-center pt-5">
    <% @mycosmetics.each do |mycosmetic| %>
      <div id="mycosmetic-id-<%= mycosmetic.cosmetic_id %>">
      <div class="card card-side bg-base-100 m-4 flex items-center">

        <div class="size-48 p-3">
          <%= image_tag mycosmetic.cosmetic.image, class: "object-contain w-full h-full"%>
        </div>

        <div class="card-body w-[calc(100%_-_150px)] md:w-[calc(100%_-_192px)]">
        <% matching_ingredients = mycosmetic.cosmetic.ingredients.map(&:name) & @warning_ingredients %>
        <% if matching_ingredients.any? %>
          <div class="collapse bg-yellow">
          <input type="checkbox" /> 
          <div class="collapse-title flex items-center">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              class="stroke-current flex-shrink-0 h-6 w-6 mr-2" 
              fill="none" 
              viewBox="0 0 24 24"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                stroke-width="2" 
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" 
              />
            </svg>
            
            <span>
              注意 (<%= matching_ingredients.count %>成分)
            </span>
          </div>
          
            <div class="collapse-content"> 
              <ul class="list-disc list-inside">
                <% matching_ingredients.each do |ingredient| %>
                  <li><%= ingredient %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
          <h2 class="card-title">
            <%= link_to mycosmetic.cosmetic.product_name, cosmetic_path(mycosmetic.cosmetic) %>
          </h2>

          <p>
            <%= link_to mycosmetic.cosmetic.category.name, '#' %>
          </p>

          <p>
            <%= link_to mycosmetic.cosmetic.brand.name, '#' %>
          </p>

          <p>
            <%= t('cosmetics.show.usage_situation') %> <%= t("activerecord.attributes.mycosmetic.usage.#{mycosmetic.usage_situation}") %>
          </p>

          <p>
            <%= t('cosmetics.show.starting_date') %> <%= mycosmetic.starting_date %>
          </p>

          <p>
            <%= t('cosmetics.show.problem') %> <%= mycosmetic.problem_i18n %>
          </p>

          <p>
            <%= t('cosmetics.show.memo') %> <%= mycosmetic.memo %>
          </p>

          <div class="card-actions justify-end">
            <%= link_to t("helper.submit.edit"), edit_mycosmetic_path(mycosmetic, cosmetic_id: mycosmetic.cosmetic_id), class: "btn bg-beige btn-outline" %>
            <%= link_to t("helper.submit.destroy"), mycosmetic_path(mycosmetic), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "btn bg-beige btn-outline" %>
            <%= render 'cosmetics/favorite_buttons', { cosmetic: mycosmetic.cosmetic } %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="flex justify-center">
    <%= paginate @mycosmetics %>
  </div>
</div>