<div class="flex-col items-center">
  <div id="cosmetic-id-<%= cosmetic.id %>">
    <div class="card card-side bg-base-100 m-4 flex items-center">
      <div class="size-48 p-3">
        <%= image_tag cosmetic.image, class: "object-contain w-full h-full"%>
      </div>
      <div class="card-body w-[calc(100%_-_150px)] md:w-[calc(100%_-_192px)]">
      <% matching_ingredients = cosmetic.ingredients.map(&:name) & @warning_ingredients %>
    <% if matching_ingredients.any? %>
      <div class="alert alert-warning shadow-lg">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          <span>注意成分を含みます：<%= matching_ingredients.join(', ') %></span>
        </div>
      </div>
    <% end %>
        <h2 class="card-title">
          <%= link_to cosmetic.product_name, cosmetic_path(cosmetic) %>
        </h2>
        <p>
          <%= link_to cosmetic.category.name, '#' %>
        </p>
        <p>
          <%= link_to cosmetic.brand.name, '#' %>
        </p>
        <div class="card-actions justify-end">
        <% if !@user_mycosmetics.include?(cosmetic.id) %>
          <%= link_to t('cosmetics.index.create'), new_mycosmetic_path(cosmetic_id: cosmetic.id), class:"btn bg-beige btn-outline" %>
          <% end %>
          <%= render 'favorite_buttons', { cosmetic: cosmetic } %>
        </div>
      </div>
    </div>
  </div>
</div>