<div class="flex-col items-center">
  <div id="cosmetic-id-<%= cosmetic.id %>">
    <div class="card card-side bg-base-100 m-4 flex items-center">
      <div class="size-48 p-3">
        <%= image_tag cosmetic.image, class: "object-contain w-full h-full"%>
      </div>
      <div class="card-body w-[calc(100%_-_192px)]">
        <h2 class="card-title">
          <%= link_to cosmetic.product_name, cosmetic_path(cosmetic) %>
        </h2>
        <p>
          <%= link_to cosmetic.category.name, '#' %>
        </p>
        <p>
          <%= link_to cosmetic.brand.name, '#' %>
        </p>
        <div class="card-actions justify-end">
        <% if !@user_mycosmetics.include?(cosmetic.id) %>
          <%= link_to "登録", new_mycosmetic_path(cosmetic_id: cosmetic.id), class:"btn bg-beige btn-outline" %>
          <% end %>
          <%= render 'favorite_buttons', { cosmetic: cosmetic } %>
        </div>
      </div>
    </div>
  </div>
</div>