<div class="flex-col items-center">
  <div class="card card-side bg-base-100 m-4 flex items-center">
    <div class="size-48 p-3">
      <%= image_tag cosmetic.image, class: "object-contain w-full h-full"%>
    </div>
    <div class="card-body w-[calc(100%_-_192px)]">
      <h2 class="card-title">
        <%= link_to cosmetic.product_name, cosmetic_path(cosmetic) %>
      </h2>
      <p>
        <%= link_to cosmetic.category.name, '#' %>
      </p>
      <p>
        <%= link_to cosmetic.brand.name, '#' %>
      </p>
      <p>
        <%= cosmetic.amount %>
      </p>
      <div class="card-actions justify-end">
        <%= link_to "登録", new_mycosmetic_path(cosmetic_id: cosmetic.id), class:"btn bg-beige btn-outline" %>
        <button class="btn btn-outline bg-gray">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>