<%= search_form_for q, url: cosmetics_path, html: { class: "flex items-center justify-center p-3 gap-3 w-full" } do |f| %>

  <%= f.select :category_id_eq, 
    Category.all.map { |c| [c.name, c.id] },
    { include_blank: t("cosmetics.index.select_category") },
    class: "select select-bordered w-full max-w-64" %>

  <div data-controller="autocomplete" 
    data-autocomplete-url-value="/cosmetics/search" role="combobox" class="relative grow max-w-lg">
      <label class="input input-bordered flex items-center w-full">
        <%= f.search_field :product_name_or_brand_name_cont,
          class: "grow", placeholder: t("cosmetics.index.search"), data: {autocomplete_target: "input"} %>
        <%= f.hidden_field :product_name_or_brand_name, data: { autocomplete_target: 'hidden' } %>
      </label>
      <ul class="list-group absolute z-10 w-full bg-white border border-gray-100 mt-1 rounded-md shadow-lg break-all" 
          data-autocomplete-target="results"></ul>
    </div>

  <%= f.submit nil , class: "btn bg-beige btn-outline" %>
<% end %>