<div class="bg-cream p-5 wrap">
  <div class="flex-col items-center p-3">
    <h1 class="font-gen text-center text-3xl md:text-4xl py-7"><%= t('.title') %></h1>
    <div class="card bg-base-100">
      <div class="card-body">
        <div class="simple-calendar rounded-lg overflow-hidden border border-gray">
          <%= month_calendar events: @daily_reports do |date, daily_reports| %>
            <% if daily_reports.any? %>
              <%= link_to daily_report_path(daily_reports), class: "block w-full h-full" do %>
                <div class="flex justify-between items-center">
                  <span><%= date.day %></span>
                  <span>✏️</span>
                </div>
              <% end %>
            <% else %>
              <%= link_to new_daily_report_path(date: date), class: "block w-full h-full" do %>
                <div class="flex justify-between items-center">
                  <span><%= date.day %></span>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>