<div class="bg-cream p-5 wrap">
  <h1 class="font-gen text-center text-3xl md:text-4xl py-5"><%= t('.title') %></h1>
  <div class="card bg-base-100 mx-5 my-6 items-center">
    <h2 class="card-title flex items-center justify-center text-2xl bg-gray-100 py-5 w-full rounded-lg">
      <%= @date.strftime('%Y年%m月%d日') %>
    </h2>

    <div class="card-body flex items-center">
      <h3 class="text-xl mt-4"><%= t("daily_reports.show.today_mycosmetic") %></h3>
      <div class="flex flex-wrap items-center justify-center gap-4">
        <% @daily_report.mycosmetics.each do |mycosmetic| %>
          <div id="mycosmetic-id-<%= mycosmetic.cosmetic_id %>">
            <div class="card flex items-center w-64">
              <%= image_tag mycosmetic.cosmetic.image, class: "size-32 md:size-36" %>
              <div class="card-body max-w-60 text-sm">
                <%= mycosmetic.cosmetic.product_name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3 class="text-xl mt-4"><%= t("daily_reports.show.health") %></h3>
        <div class="flex flex-wrap justify-center gap-4">
          <% DailyReport.healths.each do |key, value| %>
            <div class="flex flex-col items-center p-2 rounded-lg bg-white
              <%= 'selected-health' if @daily_report.health == key %>">
              <%= image_tag "health_icons/#{key}.svg", alt: t("daily_report.health.#{key}"), class: "w-12 h-12 mb-2 icon" %>
              <span class="text-sm"><%= t("daily_report.health.#{key}") %></span>
            </div>
          <% end %>
        </div>


      <h3 class="text-xl mt-4"><%= t("daily_reports.show.memo") %></h3>
      <div class="border w-full max-w-[500px] md:min-w-[500px] p-5 rounded-lg break-all">
        <%= @daily_report.memo %>
      </div>

      <div class="flex justify-center gap-6 pt-10">
        <%= link_to t("daily_reports.show.edit"), edit_daily_report_path(@daily_report), class: "btn bg-beige btn-outline "%>
        <%= link_to t("daily_reports.show.delete"), daily_report_path(@daily_report), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn bg-beige btn-outline"%>
      </div>
    </div>
  </div>
</div>
